@import "compass";

.murmurs{

  &.index{

    form{

      #murmur_content{
        height: 80px;
        font-size: 24pt;
        margin: 20px;
      }

      input[type="submit"]{
        height: 80px;
        font-size: 24pt;
        margin: 20px;
        margin-left: -10px;
      }
    }

    .murmur-item{

      @include box-shadow(grey 2px 2px 10px);
      @include border-radius(25px);

      border: 1px solid;
      padding: 100px 25px;
      margin: 20px 0;
      font-size: 24pt;

      &:hover{
        background: lighten(#8c3, 3%);
      }
    }

  }
}