@import "compass";

.murmurs{

  &.index{

    form{

      #murmur_content{
        height: 80px;
        font-size: 24pt;
        margin: 20px;
      }

      input[type="submit"]{
        height: 80px;
        font-size: 24pt;
        margin: 20px;
        margin-left: -10px;
      }
    }

  }
}