<div class="row">
  <blockquote class="<%= cycle("pull-right", "pull-left") %> span5">
    <p><%= link_to murmur.content, murmur.generated_url %></p>
    <small>我也不知道是誰發的</small>
  </blockquote>
</div>